[Unit]
Description=TAAGEKAMMERET SMTP server

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/tkammer/mail/prodekanus/venv/bin/python -m tkmail
Restart=on-failure
WorkingDirectory=/home/tkammer/mail
User=tkammer
Group=tkammer
Environment=PYTHONPATH=/home/tkammer/mail
EnvironmentFile=/home/tkammer/mail/prodekanus/mailhole_key.env
